.menu-container {
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #fff; */
    margin-right: 10px;
    margin-bottom: 10px;
  }

  
  .input-menu {
    padding: 10px 70px;
    margin-right: 10px;
    border: 1px solid rgb(231, 207, 207);
    border-radius: 10px;
    outline: #fff;
    text-align: left;
  }
  
  .menu-button {
    gap: 18px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4rem;
  }
  

 
  @media screen and (min-width: 480px){
    .menu-container {
      min-width: 500px;
      
    }
}

  @media screen and (min-width: 560px){
    .menu-container {
      width: 540px;
    
    }
}

@media screen and (min-width: 680px){
  .menu-container {
    width: 640px;
  
  }
}

@media screen and (min-width: 768px){
  .menu-container {
    width: 500px;
  
  }
}

@media screen and (min-width: 840px){
  .menu-container {
    width: 550px;
  
  }
}

@media screen and (min-width: 960px){
  .menu-container {
    width: 620px;
  
  }
}

@media screen and (min-width: 1024px){
  .menu-container {
    width: 700px;
  
  }
}

@media screen and (min-width: 1200px){
  .menu-container {
    width: 900px;
  
  }
}  